* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --inter-font: "Inter", sans-serif;
}

body {
  transition: background-color 0.3s, color 0.3s;
  background-color: #edf1fa;
}
body.light-mode {
  background-color: #edf1fa;
  color: #2c3d50;
}

body.dark-mode {

  background-color: #000000;
  color: #ffffff;
}

/* profile_css_start */
.profile-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Edit button inside name row */
.name-row {
  position: relative;
  gap: 0.5rem;
}

.name-row .edit-button {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateY(-50%);
  background-color: #2c3d50;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.name-row .edit-button:hover {
  background-color: #000;
}
/* Dark Mode Hover */
.dark-mode .name-row .edit-button:hover {
  background-color: #ebfc69 !important;
  color: #000000 !important;
}
.dark-mode .profile-btn:hover {
  background-color: #ebfc69 !important;
  color: #000000 !important;
}
.dark-mode .refer-btn:hover {
  background-color: #ebfc69 !important;
  color: #000000 !important;
}
@media (max-width: 768px) {
  .name-row .edit-button {
    position: static;
    transform: none;
    margin-left: auto;
  }

  .name-row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
/* profile_css_start */
.profile-header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.profile-title {
  font-family: var(--inter-font);
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  color: #3c98db;
  margin-bottom: 2rem;
  line-height: 100%;
}
.dark-mode .profile-title {
  color: #ffffff;
}
.profile-content {
  display: flex;
  flex-direction: column;
}

.profile-top {
  display: flex;
  flex-direction: row;
  gap: 5.5rem;
}

.profile-image-container {
  flex-shrink: 0;
}

.profile-image {
  max-width: 222px;
  height: 222px;
  object-fit: cover;
  border-radius: 8px;
}

.profile-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.info-row {
  display: flex;
  align-items: center;
}

.info-label {
  font-family: var(--inter-font);
  font-weight: 500;
  width: 100px;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}
.dark-mode .info-label {
  color: #ffffff;
}
.info-value {
  font-family: var(--inter-font);
  font-weight: 400;
  width: 100px;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.dark-mode .info-value {
  color: #ffffff;
}
.profile-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-upload {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-upload input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-btn {
  background-color: #d9d9d9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  font-family: var(--inter-font);
  line-height: 100%;
  cursor: pointer;
  color: #000000;
  text-align: center;
  font-size: 16px;
  margin-top: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.upload-btn:hover {
  background-color: #b3b3b3;
  color: #ffffff;
}
.dark-mode .upload-btn {
  background-color: #d9d9d9;
  color: #000000;
}
.file-name {
  font-family: var(--inter-font);
  transition: color 0.3s ease;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
}
.dark-mode .file-name {
  color: #ffffff;
}
.file-name:hover {
  color: #2c3d50;
}
.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.profile-btn {
  background-color: #2c3d50;
  color: #ffffff;
  font-family: var(--inter-font);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}
.dark-mode .profile-btn {
  background-color: #ebfc69;
  color: #000000;
}
.profile-btn:hover {
  background-color: #000000;
}

.medals-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.medal-box {
  display: flex;
  align-items: center;
  background-color: white;
  /* background-color: #2C3D50; */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  gap: 0.5rem;
  font-family: var(--inter-font);
  font-weight: 400;
  color: #000000;
}

.gold-medal img {
  height: 35px;
}

.bronze-medal img {
  height: 35px;
}

.referral-container {
  text-align: center;
  margin-top: 1rem;
}

.referral-code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.referral-code span {
  font-family: var(--inter-font);
  font-weight: 500;
  width: 100px;
  font-size: 17px;
  line-height: 100%;
  color: #000000;
  white-space: nowrap;
  cursor: pointer;
}
.dark-mode .referral-code span {
  color: #ffffff;
}
.refer-btn {
  background-color: #2c3d50;
  color: #ffffff;
  font-family: var(--inter-font);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}
.dark-mode .refer-btn {
  background-color: #ebfc69;
  color: #000000;
}
.refer-btn:hover {
  background-color: #000000;
}
.edit-button {
  position: absolute;
  right: 7%;
  top: 18%;
  background-color: #2c3d50;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dark-mode .edit-button {
  background-color: #ebfc69;
  color: #000000;
}
.dark-mode .edit-icons {
  color: #000000;
}
.edit-icons {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .profile-top {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  } 

  .profile-info {
    width: 100%;
  }

  .info-row {
    gap: 0.3rem;
  }

  .info-label {
    width: auto;
    font-size: 16px;
  }
  .info-value {
    width: auto;
    font-size: 14px;
  }
  .profile-buttons {
    flex-direction: column;
    width: 100%;
  }
  .edit-button {
    top: 12%;
  }
  .medals-container {
    flex-direction: column;
    align-items: center;
  }
}

.responsive-table {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  overflow: hidden;
  min-width: 600px;
  font-weight: 500;
  font-family: var(--inter-font);
}

.history-table th {
  background-color: #2c3d50;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 18px;
}
.dark-mode .history-table th {
  background-color: #ebfc69;
  color: #000000;
}
.history-table td {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.dark-mode .history-table td {
  color: #ffffff;
  border-top: 1px solid #000000;
}
.history-table tr:last-child td {
  border-bottom: none;
}

.history-table tr:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .history-title {  
    font-size: 1.5rem;
  }

  .history-table th,
  .history-table td {
    padding: 0.8rem;
    font-size: 16px;
  }

  .truncate-text {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 576px) {
  .history-container {
    padding: 1rem;
  }

  .history-title {
    font-size: 1.3rem;
  }

  .history-table {
    font-size: 0.9rem;
  }

  .history-table th,
  .history-table td {
    padding: 0.6rem;
    font-size: 14px;
  }

  .truncate-text {
    max-width: 80px;
  }
}

.scroll-hint {
  display: none;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.5rem;
}

@media screen and (max-width: 640px) {
  .scroll-hint {
    display: block;
  }
}
